@import "tailwindcss";

@keyframes wiggle {
  0%, 100% { transform: rotate(-5deg) scale(1); }
  50% { transform: rotate(5deg) scale(1.1); }
}

.animate-wiggle {
  animation: wiggle 3s ease-in-out infinite;
}
